.App {
  text-align: center;
}

header {
  margin-top: 15px;
}

.chartContainer {
  height: 300px;
  margin: 0 auto 30px;
  width: 70%;
}

.chartContainer text {
  font-size: 7px;

}

.chartEmpty {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}